.containerWrapper {
  padding: 4rem 2rem 4rem 2rem;
  .col {
    margin: auto;
    > h1 {
      text-align: center;
      font-weight: 400;
    }
    > p {
      text-align: center;
      padding-bottom: 2rem;
    }
  }

  form {
    max-width: 31.25rem;
    display: block;
    margin: auto;
    label, p {
      font-weight: 600;
    }

    label[for="designer"], label[for="customFile"] {
      font-weight: normal;
    }

    .button {
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      > button {
        width: 12.5rem;
        height: 40px;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
        border: none;
        color: white;
        background: rgb(239, 91, 76);;
      }
    }
  }
}



